/*Custom Styles*/

/*Import fonts*/

@font-face {
    font-family: 'globerbold_free';
    src: url('fonts/glober_bold_free-webfont.eot');
    src: url('fonts/glober_bold_free-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/glober_bold_free-webfont.woff2') format('woff2'),
         url('fonts/glober_bold_free-webfont.woff') format('woff'),
         url('fonts/glober_bold_free-webfont.ttf') format('truetype'),
         url('fonts/glober_bold_free-webfont.svg#globerbold_free') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
	font-family:'Aller-Bold';
	src: url('fonts/Aller-Bold_gdi.eot');
	src: url('fonts/Aller-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/Aller-Bold_gdi.woff') format('woff'),
		url('fonts/Aller-Bold_gdi.ttf') format('truetype'),
		url('fonts/Aller-Bold_gdi.svg#Aller-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}



@font-face {
	font-family:'Aller-Regular';
	src: url('fonts/Aller_gdi.eot');
	src: url('fonts/Aller_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/Aller_gdi.woff') format('woff'),
		url('fonts/Aller_gdi.ttf') format('truetype'),
		url('fonts/Aller_gdi.svg#Aller-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?ifkhdj');
    src:    url('fonts/icomoon.eot?ifkhdj#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?ifkhdj') format('truetype'),
        url('fonts/icomoon.woff?ifkhdj') format('woff'),
        url('fonts/icomoon.svg?ifkhdj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-map:before {
    content: "\e903";
}
.icon-ind-up:before {
    content: "\e902";
}
.icon-ind-down:before {
    content: "\e904";
}
.icon-ind-static:before {
    content: "\e905";
}
.icon-view:before {
    content: "\e900";
}
.icon-arrow_down:before {
    content: "\e906";
}
.icon-arrow_up:before {
    content: "\e907";
}
.icon-donut:before {
    content: "\e901";
}














/* VARIABLES */


@color-main: #37a2db;
@color-line-nav: #4ebaea;
@font-title: Aller-Bold, arial, sans-serif;
@font-body: Aller-Regular, helvetica, arial, sans-serif;
@font-aller-bold: Aller-Bold, arial, sans-serif;

/* Mixins */

.mixin-transition-all(@value: 0.28s){
	-webkit-transition: all @value ease-in-out;
  -moz-transition: all @value ease-in-out;
  -o-transition: all @value ease-in-out;
  transition: all @value ease-in-out;
}

.mixin-border-radius(@value: 10em){
	-webkit-border-radius: @value;
	-moz-border-radius: @value;
	-o-border-radius: @value;
	border-radius: @value;
}

/**/

body,html{
	font-family: @font-body;
	color: rgba(0,0,0,0.6);
	min-height: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

nav{	
	height: 62px;
	z-index: 1020;
	width: 100%;
	top: 0;
	top: 0;
	left: 0;
	right: 0;
	position: relative;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	-ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	-o-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	.part-left{
		background: #4A9CCC;
	}
	.part-logos{
		background: #4A9CCC;
	}
}

/**/

#container-main{
	position: absolute;
	left:0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	.container-info{
		position: relative;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		-ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		-o-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		.cabecera-mod{
			padding-top: 2em;
			padding-bottom: 1.5em;
			border-bottom: 1px solid #eee;
		}
	}
	.container-map{
		position: relative;
	}
}

p{
	font-family: @font-body;
	font-size: 14px;
}

#map{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 60px;
}

h1{font-size: 25px;text-transform: capitalize;font-family: @font-aller-bold;letter-spacing: -1px;}

.cont-buttons-actions{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 80px;
	.mixin-transition-all();
}

.go-down{
	bottom: -80px;
	opacity: 0;
}

button{
	border: none;
	background: transparent;
	outline: none;
}

.btn-yellow{
	background: #D3DC2F;
	color: white;
}

.btn-yellow:active{
	background: #b7bf2a;
}

.btn-magenta{
	background: #E6325D;
	color: white;
}

.btn-magenta:active{
	background: #cc2a50;
}

.eye-btn{
	font-size: 20px;
	cursor: pointer;
	text-align: left;
	padding: 0em 0.5em;
}

.color-marcado{
	color: #4A9CCC;
}


/* square */

@color-educacion: #F37D30;
@color-salud: #64ACA3;
@color-pobreza: #AD9150;
@color-aeconomica: #31656E;
@color-ambiente: #76AB54;

.color-Educación{color: #F37D30;}
.color-Salud{color: #64ACA3;}
.color-Pobreza{color: #AD9150;}
.color-Empleo{color: #31656E;}
.color-Actividad Económica{color: #76AB54;}

.square-info{
	color: rgba(255,255,255,0.8);
}

.ind1,
.ind2,
.ind3,
.ind4,
.ind5{color: rgba(255,255,255,0.9);font-size: 13px;}

.ind1{background: @color-educacion}
.ind2{background: @color-salud}
.ind3{background: @color-pobreza}
.ind4{background: @color-aeconomica}
.ind5{background: @color-ambiente}

/* Section sectores */

.section-sectores{
	position: absolute;
	top:300px; 
	left:0;
	right:0; 
	bottom: 0;
	.scroll-sectores{
		position: absolute;
		top:92px; 
		left:0;
		right:0; 
		bottom: 0; 
		overflow: auto;
	}
}


/*Circle data*/

.circle-data{
	width: 36px;
	height: 36px;
	padding: 0.6em;
	.mixin-border-radius();
	margin: 0em 0.3em;
}

/* DROPDOWN CUSTOM */

.main-mod-selected{
	width: 45px;
	height:45px; 
	background: #76ab54; 
	color: white;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}

.dropdown-custom{
	background: #fcfcfc;
	height: 45px;
	.mixin-border-radius(4px);
	border: 1px solid #EAEAEA;
	.cont-text{
		padding: 0em 1em;
	}
}

.dropdown-custom:hover{
	background: #f8f8f8;
	cursor: pointer;
	outline: none;
}


/* accordion */

.accordion{
	font-family: @font-title;
	.item-accordion{
		border-top: 1px solid #eee;
		padding: 0.7em 0em;
		cursor: pointer;
		outline: none;
		.label-item{
			font-family: @font-aller-bold;
		}
	}
	.item-accordion:hover{
		background: #f7f7f7;
	}
	.item-accordion-selected{
		background: #f7f7f7;
	}
}

a{
	font-size: 11px;
}

.inner-metrics{
	max-height: 0px;
	.mixin-transition-all(0.5s);
	overflow: hidden;
	.cabecera-titles{
		padding: 10px 0px;
		.title-metric{
			font-size: 14px;
			text-align: center;
			font-family: @font-title;
		}
	}
	.row-info{
		padding: 10px 0px;
		.row-data{
			font-size: 14px;
			font-family: @font-body;
			text-align: center;
		}
		.title-metric{
			font-size: 14px;
			text-align: center;
			font-family: @font-body;
		}
	}
	.row-info:hover{
		background: #f8f8f8;
	}
}

.open-metrics{
	max-height: 4000px;
	padding: 0.5em 0em;
	.mixin-transition-all(0.5s);
}

button.btn-list{
	     /* padding: .2em 0.9em; */
    font-size: 18px;
    width: 30px;
    height: 30px;
    margin: 0 .2em;
    color: #9c9c9c;
    width: 45px;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid #eee;
    /* border-top: 1px solid; */
}

.title-no-margin{
	font-size: 23px;font-family: Aller-Bold;	
}

.title-no-margin-medium{
	font-size: 18px;font-family: Aller-Bold;
}

.row-provincia{
	padding: 0.6em 0em;
	font-size: 14px;
}

.scroll-provincias{
	overflow: auto;
	overflow: auto;
	min-height: 140px !important;
	max-height: 140px !important;
	margin-top: 1em;
}

.text-bold{
	font-family: @font-title;
}