/*Custom Styles*/

/*Import fonts*/

@font-face {
    font-family: 'globerbold_free';
    src: url('fonts/glober_bold_free-webfont.eot');
    src: url('fonts/glober_bold_free-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/glober_bold_free-webfont.woff2') format('woff2'),
         url('fonts/glober_bold_free-webfont.woff') format('woff'),
         url('fonts/glober_bold_free-webfont.ttf') format('truetype'),
         url('fonts/glober_bold_free-webfont.svg#globerbold_free') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
	font-family:'Aller-Bold';
	src: url('fonts/Aller-Bold_gdi.eot');
	src: url('fonts/Aller-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/Aller-Bold_gdi.woff') format('woff'),
		url('fonts/Aller-Bold_gdi.ttf') format('truetype'),
		url('fonts/Aller-Bold_gdi.svg#Aller-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}



@font-face {
	font-family:'Aller-Regular';
	src: url('fonts/Aller_gdi.eot');
	src: url('fonts/Aller_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/Aller_gdi.woff') format('woff'),
		url('fonts/Aller_gdi.ttf') format('truetype'),
		url('fonts/Aller_gdi.svg#Aller-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?g5yqy5');
    src:    url('fonts/icomoon.eot?g5yqy5#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?g5yqy5') format('truetype'),
        url('fonts/icomoon.woff?g5yqy5') format('woff'),
        url('fonts/icomoon.svg?g5yqy5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-help:before {
    content: "\e900";
}
.icon-map:before {
    content: "\e901";
}
.icon-link:before {
    content: "\e902";
}
.icon-arrow_right:before {
    content: "\e90b";
}
.icon-information:before {
    content: "\e90a";
}
.icon-ind-up:before {
    content: "\e909";
}
.icon-ind-down:before {
    content: "\e908";
}
.icon-ind-static:before {
    content: "\e905";
}
.icon-view:before {
    content: "\e904";
}
.icon-arrow_down:before {
    content: "\e906";
}
.icon-arrow_up:before {
    content: "\e907";
}
.icon-donut:before {
    content: "\e903";
}




.btn-tutorial{
	height: 82px;opacity: 0.7;
	i{
		font-size: 23px;color: #222;
	}
}


.meta-text{
	font-size: 13px;
}



/* VARIABLES */


@color-main: #37a2db;
@color-line-nav: #4ebaea;
@font-title: Aller-Bold, arial, sans-serif;
@font-body: Aller-Regular, helvetica, arial, sans-serif;
@font-aller-bold: Aller-Bold, arial, sans-serif;

/* Mixins */

.mixin-transition-all(@value: 0.28s){
	-webkit-transition: all @value ease-in-out;
  -moz-transition: all @value ease-in-out;
  -o-transition: all @value ease-in-out;
  transition: all @value ease-in-out;
}

.mixin-border-radius(@value: 10em){
	-webkit-border-radius: @value;
	-moz-border-radius: @value;
	-o-border-radius: @value;
	border-radius: @value;
}

/**/

body,html{
	font-family: @font-body;
	color: rgba(0,0,0,0.6);
	min-height: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

nav{	
	height: 62px;
	z-index: 1020;
	width: 100%;
	top: 0;
	top: 0;
	left: 0;
	right: 0;
	position: relative;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	-ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	-o-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	.part-left{
		background: #4A9CCC;
	}
	.part-logos{
		background: #4A9CCC;
	}
}

/**/

#container-main{
	position: absolute;
	left:0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	.container-info{
		position: relative;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		-ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		-o-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		.cabecera-mod{
			padding-top: 2em;
			padding-bottom: 1.5em;
			border-bottom: 1px solid #eee;
		}
	}
	.container-map{
		position: relative;
	}
}

p{
	font-family: @font-body;
	font-size: 14px;
	line-height: 26px;
}

#map{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 60px;
}

h1{font-size: 25px;font-family: @font-aller-bold;letter-spacing: -1px;}

h1:first-letter{text-transform:uppercase;}

.cont-buttons-actions{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 80px;
	.mixin-transition-all();
}

.go-down{
	bottom: -80px;
	opacity: 0;
}

button{
	border: none;
	background: transparent;
	outline: none;
}

.btn-yellow{
	background: #D3DC2F;
	color: white;
	text-decoration: none;
	font-size: 17px;
}

.btn-yellow:active{
	background: #b7bf2a;
}

.btn-yellow:hover{
	background:#c8d12b;
}

.btn-magenta{
	background: #E6325D;
	color: white;
}

.btn-magenta:active{
	background: #cc2a50;
}

.btn-magenta:hover{
	background: #d62f56;
}

.eye-btn{
	font-size: 20px;
	cursor: pointer;
	text-align: left;
	padding: 0em 0.5em;
}

.color-marcado{
	color: #4A9CCC;
}


/* square */

@color-educacion: #F37D30;
@color-salud: #64ACA3;
@color-pobreza: #AD9150;
@color-aeconomica: #31656E;
@color-ambiente: #76AB54;

.color-Educación{color: #F37D30;}
.color-Salud{color: #64ACA3;}
.color-Pobreza{color: #AD9150;}
.color-Empleo{color: #31656E;}
.color-Actividad Económica{color: #76AB54;}

.square-info{
	color: rgba(255,255,255,0.8);
}

.ind1,
.ind2,
.ind3,
.ind4,
.ind5{color: rgba(255,255,255,0.9);font-size: 13px;}

.ind1{background: @color-educacion}
.ind2{background: @color-salud}
.ind3{background: @color-pobreza}
.ind4{background: @color-aeconomica}
.ind5{background: @color-ambiente}

/* Section sectores */

.section-sectores{
	position: absolute;
	top:300px; 
	left:0;
	right:0; 
	bottom: 0;
	.scroll-sectores{
		position: absolute;
		top:92px; 
		left:0;
		right:0; 
		bottom: 0; 
		overflow: auto;
	}
}


/*Circle data*/

.circle-data{
	width: 36px;
	height: 36px;
	padding: 0.6em;
	.mixin-border-radius();
	margin: 0em 0.3em;
	font-family: @font-title;
}

/* DROPDOWN CUSTOM */

.main-mod-selected{
	width: 45px;
	height:45px; 
	background: #76ab54; 
	color: white;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}

.dropdown-custom{
	background: #fcfcfc;
	height: 45px;
	.mixin-border-radius(4px);
	border: 1px solid #EAEAEA;
	outline: none;
	.cont-text{
		padding: 0em 1em;
	}
}

.dropdown-custom:hover{
	background: #f8f8f8;
	cursor: pointer;
	outline: none;
}

.open-list-dropdown{
	max-height: 185px !important;
	opacity: 1 !important;
}

.list-dropdown{
	max-height: 0px;
	position: absolute;
	background: white;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	top: 80px;
	left: 0;
	right: 0;
	opacity: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	-ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	-o-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	.mixin-border-radius(4px);
	.mixin-transition-all();
	z-index: 1030;
	ul{
		padding: 0px;
		li{
			padding: 0.9em 1em;
			list-style: none;
			border-bottom: 1px solid #eee;
			font-size: 14px;
			cursor: pointer;
			outline: none;
			.mixin-transition-all();
		}
		li:hover{
			background: #f7f7f7;
		}
		li:active{
			background: #4A9CCC;
			color: white;
		}
		li:last-child{
			border:none;
		}
	}
}


/* accordion */

.accordion{
	font-family: @font-title;
	.item-accordion{
		border-top: 1px solid #eee;
		padding: 0.7em 0em;
		cursor: pointer;
		outline: none;
		.label-item{
			font-family: @font-aller-bold;
		}
	}
	.item-accordion:hover{
		background: #f7f7f7;
	}
	.item-accordion-selected{
		background: #f7f7f7;
	}
}

a{
	font-size: 11px;
	color: #E6325D;
}

a:hover{
	
}

.inner-metrics{
	max-height: 0px;
	.mixin-transition-all(0.5s);
	overflow: hidden;
	.cabecera-titles{
		padding: 10px 0px;
		.title-metric{
			font-size: 14px;
			text-align: center;
			font-family: @font-title;
		}
	}
	.row-info{
		padding: 10px 0px;
		.row-data{
			font-size: 14px;
			font-family: @font-body;
			text-align: center;
		}
		.title-metric{
			font-size: 14px;
			text-align: center;
			font-family: @font-body;
		}
	}
	.row-info:hover{
		background: #f8f8f8;
	}
}

.open-metrics{
	max-height: 4000px;
	padding: 0.5em 0em;
	.mixin-transition-all(0.5s);
}

button.btn-list{
	     /* padding: .2em 0.9em; */
    font-size: 18px;
    width: 30px;
    height: 30px;
    margin: 0 .2em;
    color: #9c9c9c;
    width: 45px;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid #eee;
    /* border-top: 1px solid; */
}

.title-no-margin{
	font-size: 23px;font-family: Aller-Bold;	
}

.title-no-margin-medium{
	font-size: 18px;font-family: Aller-Bold;
}

.row-provincia{
	padding: 0.6em 0em;
	font-size: 14px;
	opacity: 0.8;
}

.scroll-provincias{
	overflow: auto;
	overflow: auto;
	min-height: 140px !important;
	max-height: 140px !important;
	margin-top: 1em;
}

.text-bold{
	font-family: @font-title;
}

.union{
	width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 14px solid #eee;
    border-bottom: 13px solid transparent;
    position: absolute;
    top: 15px;
    right: -10px;
    z-index: 1021;
}

.btn-information{
	font-size: 19px;
}

/* BASE STYLE CHECKBOX */
.content-check{
	margin: 0.2em 0em;
}
/* Base for label styling */
.content-check input[type="checkbox"]:not(:checked),
.content-check input[type="checkbox"]:checked {
	display: none;
}
.content-check input[type="checkbox"]:not(:checked) + label,
.content-check input[type="checkbox"]:checked + label {
	position: relative;
	padding-left: 1.5em;
	cursor: pointer;
	font-size: 15px;
	width: 100%;
	font-family: @font-body;
}

/* checkbox aspect */
.content-check input[type="checkbox"]:not(:checked) + label:before,
.content-check input[type="checkbox"]:checked + label:before {
	content: url(../img/check_base-01.svg);
	width: 15px;
	height:15px;
	position: absolute;
	left:0; 
	top: 0;
	.mixin-transition-all()
}
/* checked mark aspect */
.content-check input[type="checkbox"]:not(:checked) + label:after,
.content-check input[type="checkbox"]:checked + label:after {
	content: url(../img/check_base-02.svg);
	width: 15px;
	height:15px;
	position: absolute;
	left:0; 
	top: 0;
	.mixin-transition-all()
}
/* checked mark aspect changes */
.content-check input[type="checkbox"]:not(:checked)  + label:after{
	opacity: 0;
	transform: scale(0);
}
.content-check input[type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
.content-check input[type="checkbox"]:disabled:not(:checked) + label:before,
.content-check input[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
.content-check input[type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
.content-check input[type="checkbox"]:disabled + label {
	color: #aaa;
}

.set-tooltip{
	position: relative;
}

.tooltip{
	min-width: 100px;
	position: absolute;
	z-index: 1050;
	transition: all .4s cubic-bezier(.25,.8,.25,1);
	-webkit-transition: all .4s cubic-bezier(.25,.8,.25,1);
	-moz-transition: all .4s cubic-bezier(.25,.8,.25,1);
	-ms-transition: all .4s cubic-bezier(.25,.8,.25,1);
	-o-transition: all .4s cubic-bezier(.25,.8,.25,1);
	transform: scale(0,0);
	opacity: 0;
	.pic-tooltip-top{
		width: 0;
		height: 0;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 4px solid rgba(11,47,59,0.9);
	}
	.pic-tooltip-bottom{
		width: 0;
		height: 0;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-top: 4px solid rgba(11,47,59,0.9);
	}
	.pic-tooltip-left{
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-right: 5px solid rgba(11,47,59,0.9);
		border-bottom: 8px solid transparent;
	}
	.pic-tooltip-right{
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-left: 5px solid rgba(11,47,59,0.9);
		border-bottom:8px solid transparent;
	}
	.body-tooltip{
		background: rgba(11,47,59,0.9);
		border-radius: 8px;
		padding: 0.7em;
		color: rgba(255,255,255,0.8);
		text-align: center;
		font-size: 12.5px;
		text-transform: capitalize;
	}
}


.tool-top{
	top: -55px;
	left: -13px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.tool-bottom{
	top: -40px;
	left: -40px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.tool-left{
	bottom:-8px;
	left: 35px;
	right: 0;
	margin-top: auto;
	margin-bottom: auto;
}
.tool-right{
	left: -100px;
	right: 0;
	top: 0;
	bottom:0;
	margin-top: auto;
	margin-bottom: auto;
}


.set-tooltip:hover{
	.tooltip-show{
		transform: scale(1,1);
		opacity: 1;
	}
}
.content-icon{
	i{
		font-size: 20px;
	}
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
	background: #4A9CCC;
	color: rgba(255,255,255,0.87);
}