<!--home-chavimochik-->
<section layout="row" flex="100">
	<!-- sSection left -->
	<div class="container-info" flex="40">

		<!-- Ng-include templates mod. Info -->
		<div ng-include="template.url"></div>

		<!-- Container buttons -->
		<div class="cont-buttons-actions" ng-class="{'go-down': template.nombre == 'indicadores'}" layout="row">
			<button class="btn-yellow" flex="50">
				<div class=""></div>
				<div class="">Ver tutorial</div>
			</button>
			<button class="btn-magenta" flex="50" ng-click="comenzar(1);">
				<div class=""></div>
				<div class="">Comenzar ya</div>
			</button>
		</div>
	</div>
	<!-- Section Right (content map leaflet)-->
	<div class="container-map" flex="60">
		<nav layout="row" layout-align="space-between center">
			<div flex="60" class="part-left" style="height: 62px;">
				<div style="padding: 0.8em 2em;">
					<img style="width: 127px;" src="img/logo-main.svg">
				</div>
			</div>
			<div flex="40" layout="row" layout-align="end center" class="part-logos" style="height: 62px;">
				<img style="width: 90px;margin:0em 0.8em;" src="img/logo_geografia_urbana.svg">
				<img style="width: 90px;margin:0em 0.8em;" src="img/logo_cvf.svg">
				<img style="width: 90px;margin:0em 0.8em;" src="img/logo_mvcs.svg">
			</div>
		</nav>
		<!-- leaflet-directive -->
		<leaflet id="map" center="center"></leaflet>
	</div>
</section>