<!--home-chavimochik-->
<section layout="row" flex="100">
	<!-- sSection left -->
	<div class="container-info" flex="35">

		<!-- Ng-include templates mod. Info -->
		<div ng-include="template.url"></div>

		<!-- Container buttons -->
		<div class="cont-buttons-actions" ng-class="{'go-down': template.nombre == 'indicadores'}" layout="row">
			<button class="btn-yellow" flex="50">
				<div class=""></div>
				<div class="">Ver tutorial</div>
			</button>
			<button class="btn-magenta" flex="50" ng-click="comenzar(1);">
				<div class=""></div>
				<div class="">Comenzar ya</div>
			</button>
		</div>
	</div>
	<!-- Section Right (content map leaflet)-->
	<div class="container-map" flex="75">
		<!-- leaflet-directive -->
		<leaflet id="map" center="center"></leaflet>
	</div>
</section>