<div class="cabecera-mod" layout="row">
	<div flex="10"></div>
	<div flex="80">
		<h1>Dimensiones</h1>
	</div>
	<div flex="10"></div>
</div>

<div class="info" layout="row" style="margin-top: 2em;">
	<div flex="10"></div>
	<div flex="80" layout="row">
		<div flex class="square-info ind1">
			<div class="title-label">Educación</div>
			<div class="cont-data">
				1.5
			</div>
		</div>
		<div flex class="square-info ind2">
			<div class="title-label">Salud</div>
			<div class="cont-data">
				1.5
			</div>
		</div>
		<div flex class="square-info ind3">
			<div class="title-label">Pobreza</div>
			<div class="cont-data">
				2.0
			</div>
		</div>
		<div flex class="square-info ind4">
			<div class="title-label">A. Economi</div>
			<div class="cont-data">
				3.5
			</div>
		</div>
		<div flex class="square-info ind5">
			<div class="title-label">
				Ambiente
			</div>
			<div class="cont-data">
				2.9
			</div>
		</div>
	</div>
	<div flex="10"></div>
</div>

<div class="info" layout="row" style="margin-top: 4em;">
	<div flex="10"></div>
	<div flex="80">
		<div class="accordion">

			<div>
				<div class="item-accordion" layout="row" layout-align="space-between center">
					<div flex="10">ico</div>
					<div flex="75"><b>Educación</b></div>
					<div flex="15"><a href="#">Map</a> <a href="#">Pol</a></div>
				</div>
				<!-- Detail -->
				<div></div>
			</div>

			<div>
				<div class="item-accordion" layout="row" layout-align="space-between center">
					<div flex="10">ico</div>
					<div flex="75"><b>Salud</b></div>
					<div flex="15"><a href="#">Map</a> <a href="#">Pol</a></div>
				</div>
				<!-- Detail -->
				<div></div>
			</div>

			<div>
				<div class="item-accordion" layout="row" layout-align="space-between center" ng-click="openM=!openM">
					<div flex="10">ico</div>
					<div flex="75"><b>Pobreza</b></div>
					<div flex="15"><a href="#">Map</a> <a href="#">Pol</a></div>
				</div>
				<!-- Detail -->
				<div class="inner-metrics" layout="row" layout-wrap ng-class="{'open-metrics': openM}">
					<div class="cabecera-titles" flex="100" layout="row" layout-align="space-between center">
						<div flex class="title-metric">Check</div>
						<div flex="50" class="title-metric" style="text-align: left;">Metrica</div>
						<div flex class="title-metric">Actual</div>
						<div flex class="title-metric">Ideal</div>
						<div flex class="title-metric">Map</div>
					</div>
					
					<div class="row-info" flex="100" layout="row" layout-align="space-between center">
						<div flex class="row-data">|_|</div>
						<div flex="50" class="title-metric" style="text-align: left;">Nombre metrica</div>
						<div flex class="row-data">41%</div>
						<div flex class="row-data">65%</div>
						<div flex class="row-data">Map</div>
					</div>

					<div class="row-info" flex="100" layout="row" layout-align="space-between center">
						<div flex class="row-data">|_|</div>
						<div flex="50" class="title-metric" style="text-align: left;">Nombre metrica</div>
						<div flex class="row-data">41%</div>
						<div flex class="row-data">65%</div>
						<div flex class="row-data">Map</div>
					</div>

					<div class="row-info" flex="100" layout="row" layout-align="space-between center">
						<div flex class="row-data">|_|</div>
						<div flex="50" class="title-metric" style="text-align: left;">Nombre metrica</div>
						<div flex class="row-data">41%</div>
						<div flex class="row-data">65%</div>
						<div flex class="row-data">Map</div>
					</div>

					<div class="row-info" flex="100" layout="row" layout-align="space-between center">
						<div flex class="row-data">|_|</div>
						<div flex="50" class="title-metric" style="text-align: left;">Nombre metrica</div>
						<div flex class="row-data">41%</div>
						<div flex class="row-data">65%</div>
						<div flex class="row-data">Map</div>
					</div>



				</div>
			</div>

			<div>
				<div class="item-accordion" layout="row" layout-align="space-between center">
					<div flex="10">ico</div>
					<div flex="75"><b>Actividad Económica</b></div>
					<div flex="15"><a href="#">Map</a> <a href="#">Pol</a></div>
				</div>
				<!-- Detail -->
				<div></div>
			</div>

			<div>
				<div class="item-accordion" layout="row" layout-align="space-between center">
					<div flex="10">ico</div>
					<div flex="75"><b>Ambiente</b></div>
					<div flex="15"><a href="#">Map</a> <a href="#">Pol</a></div>
				</div>
				<!-- Detail -->
				<div></div>
			</div>
		</div>
	</div>
	<div flex="10"></div>
</div>