<div class="cabecera-mod" layout="row" style="border: none;">
	<div flex="10"></div>
	<div flex="80">
		<h1>Sistema de Indicadores - Propuesta del modelo urbano Chavimochic</h1>
	</div>
	<div flex="10"></div>
</div>
<div class="info" layout="row" >
	<div flex="10"></div>
	<div flex="80">
		<p>El proyecto <span class="text-bold">Chavimochic</span> es uno de los proyectos más importantes de <span class="text-bold">infraestructura hidro –  energética</span> y de irrigación que se están construyendo actualmente en Latinoamérica. Este realiza obras de conducción y distribución de aguas de riego, buscando el aprovechamiento de las aguas del río Santa, entre otras cuencas del Perú, para la irrigación de territorios secos en las provincias de Pacasmayo, Ascope, Trujillo y Virú del departamento de La Libertad.</p>
        <p>Mediante la implementación de políticas y acciones dirigidas, se pretende lograr un desarrollo sostenible de esta región y asegurar condiciones de calidad de vida adecuadas para la población. Esto permitirá incrementar los escenarios de competitividad de la región y la calidad de vida de los habitantes de la Macro Región Norte del Perú.</p>
        <br><br>
        <a href="resumen_ejecutivo.pdf" target="blank" style="text-decoration:none; font-size: 16px;"><i class="icon-link"></i>  Resumen Ejecutivo</a>
	</div>
	<div flex="10"></div>
</div>